// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #484848
color-gray = #999
color-border = #e3e3e3
color-navy = hsl(210, 25%, 12%)
color-link = #4687AD
color-link-hover = lighten(color-link, 10%)

// Typography
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = Garamond, Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Monaco, Menlo, Consolas, monospace
font-title = -apple-system, -apple-system-font, Lato, font-sans
font-size = 1em
line-height = 1.5

// Layout
max-width = 1200px
gutter-width = 20px
sidebar-width = 290px
mobile-nav-width = 260px

// Media queries
mq-mobile = "screen and (max-width: 768px)"
mq-normal = "screen and (min-width: 769px)"
mq-tablet = "screen and (min-width: 480px)"
