layout: index
title: 听阅
description: 一款专为英语学习者设计的集阅读、听力、背单词为一体的英语学习软件。
subtitle: 一款专为英语学习者设计的阅读软件
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 声文同步
      p.intro-feature-desc 提供点读版英文书籍，播放音频无需手动翻页，即点即读。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title 内容丰富
      p.intro-feature-desc 原版书、分级书、新闻、绘本，应有尽有，并且可以导入多种格式电子书籍，支持 epub、mobi、pdf、rtf等。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title 高效查词
      p.intro-feature-desc 只需长按/点按单词即可查看释义。内置英英、英汉、图片、发音等多个词典，并支持导入mdx/mdd格式的词典。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 丰富的功能
      p.intro-feature-desc 词汇分析、分级/分类词频标记、全书库文本检索、透析阅读、全文学习标记等，帮你轻松阅读英文书籍，提高英语水平。